*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: rgb(241,97,238);
    background: -moz-linear-gradient(100deg, rgba(241,97,238,1) 5%, rgba(64,180,236,1) 100%);
    background: -webkit-linear-gradient(100deg, rgba(241,97,238,1) 5%, rgba(64,180,236,1) 100%);
    background: linear-gradient(100deg, rgba(241,97,238,1) 5%, rgba(64,180,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f161ee",endColorstr="#40b4ec",GradientType=1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 7% 15%;
    background-color: white;
    width: 600px;
    border-radius: 8px;
    padding: 2%;
  
}


span{
    color: red;
}


input{
    margin: 5px;
    padding: 5px;
    display: block;
    border: none;
    background-color: rgb(235, 231, 231);
    border-radius: 5px;
    width: 95%;
    height: 25px;
    
    
}
label{
    margin: 8px;
    
}
h1{
    margin: 5px;
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    font-family: cursive;
    

}
.btn{
    display: flex;
    justify-content: center;
}
button{
    
    margin: 5px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: rgb(27, 184, 27);
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    
}
button:hover{
    background-color: greenyellow;
}

p{
    color: red;
    font-weight: 200;
    padding: 5px;
    padding-top: 0%;
}


@media (max-width: 600px) {
input{
    width: 80%;
}
button{
    width: 100px;
}
    
}